.basket-cart .card-separator {
    display: none;
}

.basket-cart:last-of-type .card-separator {
    display: block;
}

.skin-light .number-input.number-input button{
    height: auto;
}

.skin-light .md-form.md-outline label.active {
    border-radius: 4px;
}

.hint {
    position: absolute;
    margin: -5px 0 0 1px;
}

.message {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 15px;
    bottom: 15px;
    right: 15px;
    z-index: 1114;
    transition: .2s ease-out;
}

.message > .alert{
    color: #fff;
    background: #C00;
    margin: 0;
}

.message {
    opacity: 0;
    transform: translateY(120%);
}

.message.show {
    opacity: 1;
    transform: translateY(0%);
}
