.basket-cart .card-separator {
    display: none;
}

.basket-cart:last-of-type .card-separator {
    display: block;
}

.skin-light .number-input.number-input button{
    height: auto;
}

.skin-light .md-form.md-outline label.active {
    border-radius: 4px;
}
