.basket-cart .card-separator {
    display: none;
}

.basket-cart:last-of-type .card-separator {
    display: block;
}

.mt-100{
    margin-top: 100px;
}

.skin-light .number-input.number-input button{
    height: auto;
}
